{% extends "base.html" %} {# copied from documentation #}
{% load bootstrap3 %}
{% block content %}
    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>Sign Up</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <center>
    {% if form.errors %}
        <p>Please enter valid username and password.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
        {% else %}
            <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}
    </center>
  <div class="row">
        <div class="col-md-12">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form method="post" action="{% url 'ecommerce:register' %}">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                        <button type="submit" class="btn btn-primary">
                            {% bootstrap_icon "star" %} Sign Up
                        </button>
                    {% endbuttons %}
                    <input type="hidden" name="next" value="{{ next }}">
                </form>
            </div>
        <div class="col-md-3"></div>
        </div>
    </div>


<br/>

{% endblock %}