<form action="{% url 'ecommerce:search' %}">
    <div class="row"><center><h2>Welcome to Rayban house,Goggles Zone</h2></center></div>
    <div class="row">
        <div class="col-md-9"> <input type="text" name="q" placeholder="Search products..." required> </div>
        <div class="col-md-3"> <input type="submit" value="Search"> </div>
    </div>
</form>