{% load static %}

<!DOCTYPE html>

<html lang="en">
<head>

    <!-- INCLUDE MAIN SCRIPT -->
    {% block head %}
    {% endblock %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rayban house,Goggles Zone</title>
    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico'/>
    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,700,600' rel='stylesheet'
          type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div class="header-area">

    <div class="row">
        <center>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success">
                        <strong>{{ message }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
        </center>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="user-menu">
                    <ul>

                        {% if request.user.is_authenticated %}
                            <li><a href="#"><i class="fa fa-user"></i> {{ request.user }}</a></li>
                            <li><a href="{% url 'ecommerce:cart' %}"><i class="fa fa-user"></i> My Cart</a>
                            </li>


                            <li><a href="{% url 'logout' %}"><i class="fa fa-user"></i> Logout</a></li>
                            {# here url 'logout' is from#}
                            {# django.contrib.auth.urls that we have included in main urls. check django views authentication documentation #}
                        {% else %}
                            <li><a href="{% url 'ecommerce:register' %}"><i class="fa fa-user"></i> Signup</a></li>
                            {# since we don't have any methods or urls for signup in django.contrib.auth.urls, we created our own method and urls#}
                            <li><a href="{% url 'login' %}"><i class="fa fa-user"></i> Login</a></li>
                            {# django.contrib.auth.urls that we have included in main urls. #}
                        {% endif %}

                    </ul>
                </div>
            </div>


        </div>
    </div>
</div> <!-- End header area -->

<div class="site-branding-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="logo">
                    <h1><a href="/"><img src="{% static 'img/logo.png' %}"></a></h1>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="single-sidebar">
                    {% include 'partials/base_search.html' %}
                </div>
            </div>
            <div class="col-sm-3">
                <div class="shopping-item">
                    <a href="{% url 'ecommerce:cart' %}">Cart <span class="cart-amunt"></span> <i
                            class="fa fa-shopping-cart"></i></a>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End site branding area -->

<div class="mainmenu-area">
    <div class="container">
        <div class="row">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li {% if request.path == '/' %}class="active" {% endif %}><a href="/">Home</a></li>
                    {# we need to give url / for home alway not blank space or nothing #}
                    {# here we are including home even though we don't have home category, therefore outside of our category loop #}
                    {# here we give / in href to make home page clickable#}
                    {% for a_category in categories %}
                        {# loop ma vako category ra context bata aako category judxa tei vayere, a_category banako #}
                        <li{% if  '/category/' in request.path and a_category == category %}
                            class="active" {% endif %}><a
                                href="{% url 'ecommerce:category_wise' a_category.slug %}">{{ a_category.title }}</a>{# remember always from our model class slug and title #}
                        </li>
                    {% endfor %}
                    <li><a href="{% url 'ecommerce:ContactUs' %}">Contact Us</a></li>


                    {% for a_page in navbar_pages %}{# this is for about us contact us #}

                        <li {% if  '/cms/pages/' in request.path and a_page == page %}
                            class="active" {% endif %}><a
                                href="{% url 'cms:page' a_page.slug %}">{{ a_page.menu_title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div> <!-- End mainmenu area -->


{% block content %}
{% endblock %}

<div class="footer-top-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="footer-about-us">
                    <h2>Rayban house,<span>Goggles Zone </span></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis sunt id doloribus vero quam
                        laborum quas alias dolores blanditiis iusto consequatur, modi aliquid eveniet eligendi iure
                        eaque ipsam iste, pariatur omnis sint! Suscipit, debitis, quisquam. Laborum commodi veritatis
                        magni at?</p>
                    <div class="footer-social">
                        <a href="" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="footer-menu">
                    <h2 class="footer-wid-title">User Navigation </h2>
                    <ul>
                        <li><a href="{% url 'ecommerce:cart' %}">Cart</a></li>

                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="footer-menu">
                    <h2 class="footer-wid-title">Categories</h2>
                    <ul>
                        {% for a_category in categories %}
                            <li><a href="#">{{ a_category.title }}</a></li>
                        {% endfor %}

                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="footer-newsletter">
                    <h2 class="footer-wid-title">Newsletter</h2>
                    <p>Sign up to our newsletter and get exclusive deals you wont find anywhere else straight to your
                        inbox!</p>
                    <div class="newsletter-form">
                        <form action="#">
                            <input type="email" placeholder="Type your email">
                            <input type="submit" value="Subscribe">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End footer top area -->

<div class="footer-bottom-area">
    <div class="container">
        <div class="row">
            <center>
                <div class="copyright">
                    <p>&copy; 2015 uCommerce. All Rights Reserved. <a href="http://www.freshdesignweb.com"
                                                                      target="_blank">freshDesignweb.com</a></p>
                </div>
            </center>

            <div class="footer-card-icon">
                <i class="fa fa-cc-discover"></i>
                <i class="fa fa-cc-mastercard"></i>
                <i class="fa fa-cc-paypal"></i>
                <i class="fa fa-cc-visa"></i>
            </div>
        </div>
    </div>
</div> <!-- End footer bottom area -->

<!-- Latest jQuery form server -->
<script src="https://code.jquery.com/jquery.min.js"></script>

<!-- Bootstrap JS form CDN -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<!-- jQuery sticky menu -->
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/jquery.sticky.js' %}"></script>

<!-- jQuery easing -->
<script src="{% static 'js/jquery.easing.1.3.min.js' %}"></script>

<!-- Main Script -->
<script src="{% static 'js/main.js' %}"></script>

<!-- Slider -->
<script type="text/javascript" src="{% static 'js/bxslider.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/script.slider.js' %}"></script>
</body>
</html>