{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}
    <div>
        {#        <div>#}
        {#            <center>#}
        {#                {% if messages %}#}
        {#                    {% for message in messages %}#}
        {#                        <div class="alert alert-success">#}
        {#                            <strong>{{ message }}</strong>#}
        {#                        </div>#}
        {#                    {% endfor %}#}
        {#                {% endif %}#}
        {#            </center>#}
        {#        </div>#}
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    {#                <form method="post" action="{% url 'ecommerce:Order_placement' %}">#}
                    <form method="post" action="{% url 'ecommerce:Order_placement' %}">
                        {% csrf_token %}
                        <input type="hidden" name="product_id"
                               value="{{  }}">
                        <div class="quantity">
                            <input type="hidden" size="4" class="input-text qty text" title="Qty"
                                   value="1" name="qty" min="1" step="1"
                                   required>{# name=qty and required #}
                        </div>
                        {% bootstrap_form form %}
                        {% buttons %}
                            <button type="submit" class="btn btn-primary">
                                {% bootstrap_icon "star" %} Confirm Product
                            </button>
                        {% endbuttons %}
                    </form>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
{% endblock %}