{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}
{#    <div>#}
{#        <center>#}
{#            {% if messages %}#}
{#                {% for message in messages %}#}
{#                    <div class="alert alert-success">#}
{#                        <strong>{{ message }}</strong>#}
{#                    </div>#}
{#                {% endfor %}#}
{#            {% endif %}#}
{#        </center>#}
{#    </div>#}
    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>Contact Us</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="card col-md-12">
            <div class="card col-md-6">
                <form method="post" action="{% url 'ecommerce:ContactUs' %}">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                        <button type="submit" class="btn btn-primary">
                            {% bootstrap_icon "star" %} Send Message
                        </button>
                    {% endbuttons %}
                </form>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header"><h2>Contact Details</h2></div>
                    <div class="card-block">
                        <h3>Store</h3>
                        <p>Goggles Zone,Rayban house</p>
                        <h3>Phone</h3>
                        <p>984-3292310</p>
                        <h3>Email</h3>
                        <p>raybanhouse@gmail.com</p>
                        <h3>Address</h3>
                        <p>Civil mall,Sundhara
                            Kathmandu, Nepal</p>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
    <br/>
{% endblock %}