{% extends 'base.html' %}
{% load thumbnail %}
{% load app_filters %} {# don't forget to load #}
{% block content %}
    <div class="slider-area">
        <!-- Slider -->
        <div class="block-slider block-slider4">
            <ul class="" id="bxslider-home4">
                {% for banner in banners %}
                    <li>
                        {% thumbnail banner.image "1163x365" crop="center" as im %}
                            <img src="{{ im.url }}">{# no need to specify image url ourself when using sorl thumbnail #}
                        {% endthumbnail %}
                        <div class="caption-group">
                            <h2 class="caption title">
                                {{ banner.caption }}
                            </h2>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <!-- ./Slider -->
    </div> <!-- End slider area -->

    <div class="promo-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="single-promo promo1">
                        <i class="fa fa-refresh"></i>
                        <p>30 Days return</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-promo promo2">
                        <i class="fa fa-truck"></i>
                        <p>Free shipping</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-promo promo3">
                        <i class="fa fa-lock"></i>
                        <p>Secure payments</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-promo promo4">
                        <i class="fa fa-gift"></i>
                        <p>New products</p>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End promo area -->

    <div class="maincontent-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="latest-product">
                        <h2 class="section-title">Latest Products</h2>
                        <div class="product-carousel">
                            {% for product in latest_products %}
                                <div class="single-product float">
                                    <div class="product-f-image">
                                        {% thumbnail product.image.image "195x243" crop="center" as im %}
                                            <img src="{{ im.url }}" style="width: 100%">
                                        {% endthumbnail %}
                                        <div class="product-hover">
{#                                            <a href="{% url 'ecommerce:cart' %}" class="add-to-cart-link"><i#}
{#                                                    class="fa fa-shopping-cart"></i> Add#}
{#                                                to#}
{#                                                cart</a>#}
                                            <a href="{% url 'ecommerce:single_product' product.slug %}"
                                               class="view-details-link"><i
                                                    class="fa fa-link"></i> See details</a>
                                        </div>
                                    </div>
                                    <div>
                                        <a href="{% url 'ecommerce:demoGlass' product.id%}"><i
                                        ></i> Try this Product</a>
                                    </div>
                                    <h2>
                                        <a href="{% url 'ecommerce:single_product' product.slug %}">{{ product.title }}</a>
                                    </h2>

                                    <div class="product-carousel-price">
                                        <ins>Rs. {{ product.price }}</ins>
                                        <del>Rs. {{ product.discount }}</del>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End main content area -->

    <div class="brands-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="brand-wrapper">
                        <h2 class="section-title"><p style="color: grey;">Our Brands</h2>
                        <div class="brand-list">
                            {% for brand in brands %}
                                <div style="height: 150px">
                                <img src="{{ brand.image.url }}" alt="" >{# check this out #}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End brands area -->

    <div class="product-widget-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="single-product-widget">
                        <h2 class="product-wid-title">Top Sellers</h2>

                        {% for product in top_sellers %}
                            <div class="single-wid-product">
                                <a href="{% url 'ecommerce:single_product' product.slug %}">
                                    {% thumbnail product.image.image "100x90" crop="center" as im %}
                                        <img src="{{ im.url }}" class="product-thumb">
                                    {% endthumbnail %}
                                </a>
                                <h2><a href="{% url 'ecommerce:single_product' product.slug %}">{{ product.title }}</a>
                                </h2>
                                <div class="product-wid-rating">

                                    {% for i in product.avg_rating|range %}{# no space while using pipe #}
                                        <i class="fa fa-star"></i>
                                    {% endfor %}
                                </div>
                                <div class="product-wid-price">
                                    <ins>Rs. {{ product.price }}</ins>
                                    <del>Rs. {{ product.discount }}</del>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-product-widget">
                        <h2 class="product-wid-title">Recently Viewed</h2>
                        {% for product in recently_viewed %}
                            <div class="single-wid-product">
                                <a href="{% url 'ecommerce:single_product' product.slug %}">
                                    {% thumbnail product.image.image "100x90" crop="center" as im %}
                                        <img src="{{ im.url }}" class="product-thumb">
                                    {% endthumbnail %}
                                </a>
                                <h2><a href="{% url 'ecommerce:single_product' product.slug %}">{{ product.title }}</a>
                                </h2>
                                <div class="product-wid-rating">
                                    {% for i in product.avg_rating|range %}{# no space while using pipe #}
                                        <i class="fa fa-star"></i>
                                    {% endfor %}
                                </div>
                                <div class="product-wid-price">
                                    <ins>Rs. {{ product.price }}</ins>
                                    <del>Rs. {{ product.discount }}</del>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-product-widget">
                        <h2 class="product-wid-title">Top New</h2>
                        {% for product in top_new_products %}
                            <div class="single-wid-product">
                                <a href="{% url 'ecommerce:single_product' product.slug %}">
                                    {% thumbnail product.image.image "100x90" crop="center" as im %}
                                        <img src="{{ im.url }}" class="product-thumb">
                                    {% endthumbnail %}
                                </a>
                                <h2><a href="{% url 'ecommerce:single_product' product.slug %}">{{ product.title }}</a>
                                </h2>
                                <div class="product-wid-rating">
                                    {% for i in product.avg_rating|range %}{# no space while using pipe #}
                                        <i class="fa fa-star"></i>
                                    {% endfor %}
                                </div>
                                <div class="product-wid-price">
                                    <ins>Rs. {{ product.price }}</ins>
                                    <del>Rs. {{ product.discount }}</del>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End product widget area -->


{% endblock %}