{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
{% endblock %}
{% load thumbnail %}

{% block content %}

    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="single-sidebar">
                        <h2 class="sidebar-title">Search Products</h2>
                        {% include 'partials/search.html' %}
                    </div>

                    <div class="single-sidebar">
                        <h2 class="sidebar-title">Products</h2>
                        {% for a_product in latest_products %}
                            <div class="thubmnail-recent">

                                {% thumbnail a_product.image.image "190x190" crop="center" as im %}
                                    <img src="{{ im.url }}" class="recent-thumb">
                                {% endthumbnail %}
                                <div>
                                    <a href="{% url 'ecommerce:demoGlass' product.id %}"><i
                                    ></i> Try this Product</a>
                                </div>
                                <h2>
                                    <a href="{% url 'ecommerce:single_product' a_product.slug %}">{{ a_product.title }}</a>
                                </h2>
                                <div class="product-sidebar-price">
                                    <ins>Rs. {{ a_product.price }}</ins>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                </div>

                <div class="col-md-8">
                    <div class="product-content-right">
                        <div class="product-breadcroumb">
                            <a href="/">Home</a>
                            <a href="{% url 'ecommerce:category_wise' product.category.slug %}">{{ product.category.title }}</a>
                            <a href="">{{ product.title }}</a>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="product-images">
                                    <div class="product-main-img">
                                        {% thumbnail product.image.image "195x243" crop="center" as im %}
                                            {# this is copied from djanog sorl thumbiail documentation eg simple #}{# also don't forget image.image from our model class producthasimage from our context #}
                                            <img src="{{ im.url }}">
                                        {% endthumbnail %}
                                    </div>

                                    <div class="product-gallery">
                                        {% for image in product.producthasimage_set.all %}
                                            {% thumbnail image.image "190x190" crop="center" as im %}
                                                <img src="{{ im.url }}">
                                            {% endthumbnail %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="product-inner">
                                    <h2 class="product-name">{{ product.title }}</h2>
                                    <div class="product-inner-price">
                                        <ins>Rs. {{ product.price }}</ins>
                                        <div>
                                            <a href="{% url 'ecommerce:demoGlass' product.id %}"><i
                                            ></i> Try this Product</a>
                                        </div>
                                    </div>

                                    <form action="{% url 'ecommerce:cart' %}" class="cart" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="product_id"
                                               value="{{ product.id }}">
                                        <div class="quantity">
                                            <input type="number" size="4" class="input-text qty text" title="Qty"
                                                   value="1" name="qty" min="1" step="1"
                                                   required>{# name=qty and required #}
                                        </div>
                                        <button class="add_to_cart_button" type="submit">Add to cart</button>
                                    </form>

                                    <div class="product-inner-category">
                                        <p>Category: {{ product.category.title }} </p>
                                    </div>

                                    <div role="tabpanel">
                                        <ul class="product-tab" role="tablist">
                                            <li role="presentation" class="active"><a href="#home" aria-controls="home"
                                                                                      role="tab" data-toggle="tab">Description</a>
                                            </li>
                                            <li role="presentation"><a href="#profile" aria-controls="profile"
                                                                       role="tab" data-toggle="tab">Reviews</a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane fade in active" id="home">
                                                <h2>Product Description</h2>
                                                {{ product.description | safe }}
                                            </div>

                                            <div role="tabpanel" class="tab-pane fade" id="profile">
                                                <h2>Reviews</h2>

                                                {% if request.user.is_authenticated %}

                                                    <form method="post"
                                                          action="{% url 'ecommerce:single_product' product.slug %}">
                                                        {% csrf_token %}

                                                        <div class="rating-chooser">
                                                            <div class="rate row">
                                                                <input type="radio" id="star5" name="rating" value="5"/>
                                                                <label for="star5" title="text">5 stars</label>
                                                                <input type="radio" id="star4" name="rating" value="4"/>
                                                                <label for="star4" title="text">4 stars</label>
                                                                <input type="radio" id="star3" name="rating" value="3"/>
                                                                <label for="star3" title="text">3 stars</label>
                                                                <input type="radio" id="star2" name="rating" value="2"/>
                                                                <label for="star2" title="text">2 stars</label>
                                                                <input type="radio" id="star1" name="rating" value="1"/>
                                                                <label for="star1" title="text">1 star</label>
                                                            </div>

                                                        </div>
                                                        <br>
                                                        <div>
                                                            <textarea
                                                                    name="comment"
                                                                    id="" cols="50"
                                                                    rows="10"
                                                                    placeholder="Your Review" required></textarea>
                                                            </p>
                                                            <p><input type="submit" value="Submit"></p>
                                                        </div>
                                                    </form>

                                                    {% for review in product.productreview_set.all %}
                                                        <div class="single-review">
                                                            <div class="review-heading">
                                                                <div>
                                                                    <i class="fa fa-user"></i> {{ review.user.username }}
                                                                </div>

                                                                <div class="review-rating pull-right">

                                                                    {% for i in review.rating_range %}
                                                                        <i class="fa fa-star">
                                                                            {{ i }}
                                                                        </i>
                                                                    {% endfor %}
                                                                </div>

                                                            </div>
                                                            <div class="review-body">
                                                                <p>{{ review.comment }}</p>
                                                            </div>
                                                        </div>
                                                    {% endfor %}


                                                {% endif %}

                                                {#                                                {% if request.user.is_authenticated %}#}
                                                {#                                                    <div class="col-md-6">#}
                                                {#                                                        <h4 class="text-uppercase">Write Your Review</h4>#}
                                                {#                                                        <form class="review-form" method="POST"#}
                                                {#                                                              action="{% url 'ecommerce:single_product' product.slug %}">#}
                                                {##}
                                                {#                                                            {% csrf_token %}#}
                                                {##}
                                                {#                                                            {% if form.errors %}#}
                                                {#                                                                <p style="color: red">Please fill all fields</p>#}
                                                {#                                                            {% endif %}#}
                                                {##}
                                                {#                                                            <div class="form-group">#}
                                                {#                                                                <textarea name="comment" class="input"#}
                                                {#                                                                          placeholder="Your review"></textarea>#}
                                                {#                                                            </div>#}
                                                {#                                                            <div class="form-group">#}
                                                {#                                                                <div class="input-rating">#}
                                                {#                                                                    <strong class="text-uppercase">Your#}
                                                {#                                                                        Rating: </strong>#}
                                                {#                                                                    <div class="stars">#}
                                                {#                                            <input type="radio" id="star5" name="rating"#}
                                                {#                                                   value="5"/><label#}
                                                {#                                                for="star5"></label>#}
                                                {#                                                                        <input type="radio" id="star4" name="rating"#}
                                                {#                                                                               value="4"/><label#}
                                                {#                                                                            for="star4"></label>#}
                                                {#                                                                        <input type="radio" id="star3" name="rating"#}
                                                {#                                                                               value="3"/><label#}
                                                {#                                                                            for="star3"></label>#}
                                                {#                                                                        <input type="radio" id="star2" name="rating"#}
                                                {#                                                                               value="2"/><label#}
                                                {#                                                                            for="star2"></label>#}
                                                {#                                                                        <input type="radio" id="star1" name="rating"#}
                                                {#                                                                               value="1"/><label#}
                                                {#                                                                            for="star1"></label>#}
                                                {#                                                                    </div>#}
                                                {#                                                                </div>#}
                                                {#                                                            </div>#}
                                                {#                                                            <button class="primary-btn">Submit</button>#}
                                                {#                                                        </form>#}
                                                {##}
                                                {#                                                      {% for review in product.productreview_set.all %}#}
                                                {#                                                    <div class="single-review">#}
                                                {#                                                        <div class="review-heading">#}
                                                {#                                                            <div><a href="#"><i#}
                                                {#                                                                    class="fa fa-user-o"></i> {{ review.user.username }}#}
                                                {#                                                            </a></div>#}
                                                {##}
                                                {#                                                            <div class="review-rating pull-right">#}
                                                {##}
                                                {#                                                                {% for i in review.rating_range %}#}
                                                {#                                                                    <i class="fa fa-star"></i>#}
                                                {#                                                                {% endfor %}#}
                                                {#                                                            </div>#}
                                                {##}
                                                {#                                                        </div>#}
                                                {#                                                        <div class="review-body">#}
                                                {#                                                            <p>{{ review.comment }}</p>#}
                                                {#                                                        </div>#}
                                                {#                                                    </div>#}
                                                {#                                                {% endfor %}#}
                                                {##}
                                                {#                                                    </div>#}
                                                {#                                                {% endif %}#}


                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>


                        <div class="related-products-wrapper">
                            <h2 class="related-products-title">Related Products</h2>
                            <div class="related-products-carousel">
                                {% for a_product in related_products %}
                                    <div class="single-product">
                                        <div class="product-f-image">
                                            {% thumbnail a_product.image.image "350x436" crop="center" as im %}
                                                <img src="{{ im.url }}">
                                            {% endthumbnail %}
                                            <div class="product-hover">
                                                {#                                                <a href="" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i>#}
                                                {#                                                    Add#}
                                                {#                                                    to cart</a>#}
                                                <a href="{% url 'ecommerce:single_product' a_product.slug %}"
                                                   class="view-details-link"><i class="fa fa-link"></i> See
                                                    details</a>
                                            </div>
                                        </div>
                                        <div>
                                          <a href="{% url 'ecommerce:demoGlass' product.id %}"><i
                                          ></i> Try this Product</a>
                                        </div>
                                        <h2>
                                            <a href="{% url 'ecommerce:single_product' a_product.slug %}">{{ a_product.title }}</a>
                                        </h2>

                                        <div class="product-carousel-price">
                                            <ins>Rs. {{ a_product.price }}</ins>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}